/* allows for different sections to be hidden if it has this data attribute */
[data-state="hidden"] {
    display: none;
}
/* header css*/
header {
    text-align: center;
  background: #1b6273;
  color: white;
  font-size: 30px;
  border-bottom: #E1C16E 5px;
  border-style: groove;
  padding: 10px;
}

header a {
    color: #f2eecb;
}

text-primary {
    font-family: URW Chancery L, cursive
}

/*body coloring */
body {
    background-color: #0d1134;
    background-size: cover;
    min-height: 100vh;
}

main
{
    margin: auto;
    width: 50%;
    background-color: #f2eecb;
    padding: 10px;
    min-height: 100vh;
    text-align: center;
}

/*text css*/
h1 {
    font-family: Bookman, URW Bookman L, serif;
    font-size: 50px;
}
h2 {
    font-size: 25px;
}

h3 {
    font-size: 25px;
    margin: 5px;
    text-decoration: underline;

}

h4 {
    font-size: 20px;
    margin: 5px;
}

h5 {
    font-size: 20px;
    background-color: #f2eecb;
    border-style: groove;

}
/*buttons*/
a {
    margin: 5px 15px 10px 15px;
    padding: 5px;
}
a:hover {
    background-color: #f2eecb;
    border-radius: 5px;
}
button {
    border: solid #b5a642;
    border-radius: 20px;
    background-color:  #25356f ;
    color: white;
    border-width: 1px;
    font-size: 15px;
    padding: 10px;
    margin: 15px;
}

button:hover {
    background-color:  #3a53ae;


}

img {
    max-height: 300px;
}

.fa-solid {
    color: pink;
    font-size: 25px;
}

.fa-regular {
    font-size: 25px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 35px auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    background-color: #f2eecb;
  }

  .card-content {
    padding: 10px;
  }

  .modal-card-head {
    text-align: center;
    background: #1b6273;
    color: white;
    font-size: 30px;
    border-bottom: #E1C16E 5px;
    border-style: groove;
    padding: 10px;
  }

  .modal-card-title {
    color: white;
  }

  .modal-card-body {
    background-color: #f2eecb;
  }